body {
  color: white;
  background-image: url("./images/stars.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.topics {
  display: flex;
  flex-direction: column;
}

.question-container {
  display: flex;
  justify-content: center;
  width: 1700px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  text-decoration: none;
  width: 700px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 0 0 10px #b2e9ff;
  background: linear-gradient(to bottom, #ffffff, #f2fcff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 0.3s ease-in-out;
  transition: color 0.3 ease-in-out;
}

.question:hover {
  text-shadow: 0 0 40px #b2e9ff;
  color: rgb(255, 255, 255);
}

.toc-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.contents {
  display: flex;
  border: 2px solid black;
  width: 400px;
  height: 500px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  font-size: 40px;
}

.topics {
  margin-top: 10px;
  gap: 40px;
}

.topic {
  display: flex;
  color: rgb(255, 255, 255);
  gap: 10px;
  font-size: 20px;
  text-decoration: none;
  transition: text-shadow 0.3s ease-in-out;
  transition: color 0.3 ease-in-out;
}

.topic:hover {
  text-shadow: 0 0 20px #b2e9ff;
  color: rgb(255, 255, 255);
}

.back {
  margin-top: 10px;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
